@media(max-width: $xl ){
    .footer__wrapper{
        width: $lg;
        .img__wrapper{
            width: 12%;
        }
    }
}

@media(max-width: $lg){
    .footer__wrapper{
        width: $md;
        .img__wrapper{
            width: 16%;
        }
    }
}

@media(max-width: $md){
    .footer__wrapper{
        width: $ms;
        .img__wrapper{
            width: 25%;
        }
        .tex{
            p{
               padding: 15px 0 15px 10px; 
            }
        }
    }
}

@media(max-width: $ms){
    .footer__wrapper{
        width: 100%;
    }
}